/*[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}*/
#container {
  position: absolute;
  background-color: #c2bcad;
  margin: auto 100px;
  font-family: 'Cookie', cursive;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*
  font-family: 'Calligraffitti', cursive;
  font-family: 'Meie Script', cursive; 4 stylish
  font-family: 'Cookie', cursive; 5 cute
  font-family: 'Monsieur La Doulaise', cursive;
  */
}
#app-name p {
  margin-top:30px;
  margin-bottom: 0;
  padding: 15px 15px;
  margin-left: 15px;
  background-color: #cedcf6;
  font-size:75px ;
  width: 800px;
  height:100px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px dotted #799cdd;
}
#info h2 {
  margin-left: 50px;
  font-size: 55px;
}
#info {
  position: relative;
}
#info button {
  position: absolute;
  right: 50px;
  top: 0;
  width: 200px;
  height: 75px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #f0dba5;
  font-family: 'Cookie', cursive;
  font-size: 35px;
}

#event-form {
  margin-left: 55px;
}
#event-form input{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
}

#event-form button {
  width: 70px;
  height: 30px;
  font-family: 'Cookie', cursive;
  font-size: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
}

#form-wrapper {
  position: relative;
}
#form-wrapper button {
  position: absolute;
  right: 200px;
  top: 0;
  font-family: 'Cookie', cursive;
  font-size: 25px;
}

#event-list li{
  display: inline;
}
#event-list ul{
  width: 800px;
  height:80px;
  background-color: #f7f7f7;
  border: 2px solid black;
  margin: 10px;
  padding: 20px 20px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.date {
  font-size: 35px
}
.address {
  font-size: 20px
}
.title {
  font-size:50px
}
.time {
  font-size: 35px
}
#event-grid ul{
  width: 200px;
  height:200px;
  background-color: #f7f7f7;
  border: 2px solid black;
  margin: 10px;
  padding: 20px 20px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
}
#event-grid li{display:block;}

/*LIST
single sheet of paper with hand drawn line between events?
each event looks like its written by hand
*/

/*Grid
more like calender with old fashioned font
*/

/*
TODO
update form field...add properties : start time and end time,
date picker?
*/