/*[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}*/
body {
}

#container {
  position: absolute;
  background-color: #c2bcad;
  width: 100%;
  margin: auto 50px;
  font-family: 'Cookie', cursive;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*
  font-family: 'Calligraffitti', cursive;
  font-family: 'Meie Script', cursive; 4 stylish
  font-family: 'Cookie', cursive; 5 cute
  font-family: 'Monsieur La Doulaise', cursive;
  */
}
#app-name p {
margin: 15px 50px 15px;
padding: 15px 15px;
background-color: #cedcf6;
font-size: 75px;
width: 90%;
height: 100px;
text-align: center;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 2px dotted #799cdd;
}
#info h1 {
  margin-left: 75px;
  font-size: 75px;
}
#info {
  position: relative;
  height: 100px;
}
#info button {
  position: absolute;
  right: 75px;
  top: 0;
  width: 200px;
  height: 75px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #f0dba5;
  font-family: 'Cookie', cursive;
  font-size: 35px;
}

#event-form {
  margin-left: 55px;
}
#event-form input{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  width: 270;
  height: 15px;
  font-size: 15px;
}

#event-form button {
  width: 100px;
  height: 50px;
  font-family: 'Cookie', cursive;
  font-size: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
}


#form-wrapper {
  position: relative;
}
#form-wrapper button {
  position: absolute;
  right: 110px;
  top: 0;
  font-family: 'Cookie', cursive;
  font-size: 30px;
}
#event-list,
#event-grid {
  display :none;
  margin-bottom: 20px;
}
#view-container[data-active="event-list"] #event-list,
#view-container[data-active="event-grid"] #event-grid {
  display :block;
  margin: auto 75px;
}

#event-list li{
  display: inline;
  margin-right: 30px;
}
#event-list ul{
  width: 800px;
  height:80px;
  background-color: #f7f7f7;
  border: 2px solid black;
  margin: 10px;
  padding: 20px 20px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.date {
  font-size: 35px
}
.address {
  font-size: 20px
}
.title {
  font-size:50px
}
.time {
  font-size: 35px
}
#event-grid ul{
  width: 200px;
  height:200px;
  background-color: #f7f7f7;
  border: 2px solid black;
  margin: 10px;
  padding: 20px 20px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
}
#event-grid li{
  display:block;
  margin-bottom: 15px;
}

select#start-time{
  font-size: 30px;
}
select#end-time {
  font-size: 30px;
}

/*LIST
single sheet of paper with hand drawn line between events?
each event looks like its written by hand
*/

/*Grid
more like calender with old fashioned font
*/

/*
TODO
update form field...add properties : start time and end time,
date picker?
*/